<p id="notice"><%= notice %></p>

<p>
  <strong>Starts:</strong>
  <%= @session.start.strftime("%Y") %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @session.finish.strftime("%Y") %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
