<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @session.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @session.to %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
