<ul>
	<li>
		<%= link_to "courses", courses_path %>
	</li>
	<li>
		<%= link_to "instructors", instructors_path %>
  </li>
  <li>
		<%= link_to "courses instructors", course_instructors_path %>
	</li>
	<li>
		<%= link_to "exams", exams_path %>
	</li>
	<li>
		<%= link_to "sessions", sessions_path %>
	</li>
	<li>
		<%= link_to "programs", programs_path %>
	</li>
  <li>
		<%= link_to "program sessions", program_sessions_path %>
	</li>
	<li>
		<%= link_to "papers", papers_path %>
  </li>
</ul>
