<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :program_sessions_id %>
    <%= form.collection_select :program_sessions_id, ProgramSession.all, :id, :program_with_session %>

  </div>

  <div class="field">
    <%= form.label :course_instructors_id %>
    <%= form.collection_select :course_instructors_id, CourseInstructor.all, :id, :course_with_instructor %>
  </div>

  <div class="field">
    <%= form.label :exam_id %>
    <%= form.collection_select :exam_id, Exam.all, :id, :title %>
  </div>

  <div class="field">

    <%= form.label :timeallowed %>

    <%= form.time_select :timeallowed, default: {hours: '00', minute: '30'} %>
  </div>

  <b> Questions </b>
  <div class="field">
    <%= form.fields_for :questions do |builder| %>
      <%= render "question_fields", f: builder %>
   <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
