<fieldset>
  <div class="same_line" >
    <%= f.label :description, "Question" %> 
    <%= f.text_area :description, cols: 60, rows:3 %>
    <%= f.label :marks %>
    <%= f.text_field :marks, value: 1 %>
  </div>
  <b>Choice</b>

  <ol>
    <%= f.fields_for :choices do |builder| %>  
      <%= render 'choice_fields', f: builder %>
    <% end %>
  </ol>

  <div class="same_line">
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Question" %>
  </div>
</fieldset>
