<p id="notice"><%= notice %></p>

<p>
  <strong>Program sessions:</strong>
  <%= @paper.program_sessions_id %>
</p>

<p>
  <strong>Course instructors:</strong>
  <%= @paper.course_instructors_id %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @paper.exam_id %>
</p>

<p>
  <strong>Timeallowed:</strong>
  <%= @paper.timeallowed %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
