<p id="notice"><%= notice %></p>

<p>
  <strong>Program sessions:</strong>
  <%= @ProgramSesssion.find(@paper.program_sessions_id).program_with_session %>
</p>

<p>
  <strong>Course instructors:</strong>
  <%= @ProgramSession.find(@paper.course_instructors_id).course_with_instructor %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @Exam.find(@paper.exam_id).title %>
</p>

<p>
  <strong>Timeallowed:</strong>
  <%= @paper.timeallowed %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
