<p id="notice"><%= notice %></p>

<p>
  <strong>Program sessions:</strong>
  <%= @paper.program_sessions_id %>
</p>

<p>
  <strong>Course instructors:</strong>
  <%= @paper.course_instructors_id %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @paper.exam_id %>
</p>

<p>
  <strong>Timeallowed:</strong>
  <%= @paper.timeallowed %>
</p>
<% @paper.questions.each do |question| %>
<b>Question: </b>
<%= question.description %>
<b>Marks: </b><%= question.marks %>
<br></br>
<b>Choices: </b>

<% question.choices.each do |choice| %>
<%= choice.description %>
<% end %>
<br></br>
<% end %>


<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
