<p id="notice"><%= notice %></p>

<h1>Program Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Program</th>
      <th>Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_sessions.each do |program_session| %>
      <tr>
        <td><%= Program.find(program_session.program_id).name_with_nature %></td>
        <td><%= Session.find(program_session.session_id).session_start_finish %></td>
        <td><%= link_to 'Show', program_session %></td>
        <td><%= link_to 'Edit', edit_program_session_path(program_session) %></td>
        <td><%= link_to 'Destroy', program_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program Session', new_program_session_path %>
