<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= Program.find(@program_session.program_id).name_with_nature %>
</p>

<p>
  <strong>Session:</strong>
  <%= Session.find(@program_session.session_id).session_start_finish %>
</p>

<%= link_to 'Edit', edit_program_session_path(@program_session) %> |
<%= link_to 'Back', program_sessions_path %>
